//brand colors
$primary_color: #0F1923;
$secundary_color: #FF4655;

// Support color are used to give the user a message. For example, error, success, message log. Make them more desaturated
$support_color_err: #cc0014;
$support_color_rght: #00aa64;
$support_color_mesg: #657ff0;

// Neutral colors
$neutral_color_900: #000000;
$neutral_color_800: #1a1a1a;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_200: #eeeeee;
$neutral_color_100: #ffffff;
