@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

html,
body {
  max-width: 100vw;
  overflow: auto;
}

body {
  color: var(--foreground);
  background: var.$primary_color;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
